* {        /*  agregar carcateristicas a la pagina principal*/

    margin: 0;
    padding: 0;

}

html, body{  /*  modificar tamaño de letra y texto*/

    font-size:18px;
    background-color: #1673cf ;

}

* {        /*  agregar carcateristicas a la pagina principal*/

    margin: 0;
    padding: 0;

}

html, body{  /*  modificar tamaño de letra y texto*/

    font-size:18px;
    background-color: #1673cf ;

}

.App{
    min-height: 100vh;  /*  Altura mínima de la aplicación, adaptativa al navegador */
    display: flex;      /*  hacer flexible  */
    flex-wrap: wrap;    /*  si un elemento toma el ancho del contener los siguiente elementos van a ubicar la siguiente linea  */
    align-items: center;   /*  alinear al centro  */
    justify-content: center;  /*  centrarlos horizonatal y verticalmente */
    text-align: center;
}

.contener-principal{

    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}